[submodule "dspace-xmlui/src/main/webapp/themes/snazy"]
	path = dspace-xmlui/src/main/webapp/themes/snazy
	url = https://github.com/umlso/dspace-xmlui-theme-snazy.git
[submodule "dspace-xmlui/src/main/webapp/themes/dri2xhtml-osu"]
	path = dspace-xmlui/src/main/webapp/themes/dri2xhtml-osu
	url = https://github.com/umlso/dri2xhtml-osu.git
[submodule "dspace-xmlui/src/main/webapp/static"]
	path = dspace-xmlui/src/main/webapp/static
	url = https://github.com/umlso/mospace_static.git
